/* Aligning the name to the right and the icons (Instagram and Cart) to the left */
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute items between left and right */
    gap: 1.5rem; /* Equivalent to space-x-6 */
    width: 100%; /* Ensure it takes up full width */
  }
  
.flex-icons {
   display: flex;
   align-items: center;
   gap: 1.5rem; /* Equivalent to space-x-6 */
   margin-left: 0; /* Ensure no margin is added */
}
  
.textlogo{
    font-size: 35px;
    font-weight: 600;
}